<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for preda in ropa%}

    <p>Prenda: {{preda.tipo}}</p>
    <p>Costo: {{preda.costo}}</p>
    <p>Genero: {{preda.genero}}</p>

    <button>
        <a href="{% url 'PrendaEditar' preda.tipo %}">Editar</a>
    </button>

    <button>
        <a href="{% url 'PrendaEliminar' preda.tipo %}">Eliminar Prenda</a>
    </button>
    
    <br> 
    
    {% endfor%}
    <a href="{% url 'RopaCrear'%}">Agregar nueva Prenda</a>
</body>
</html>